<div class="container mt-5">
  <h1 class="text-success mb-5">Profile</h1>
  <div class="row" style="display: flex; flex-direction: column; align-items:center;">
    <div class="card bg-dark bg-gradient text-bg-dark mb-5" style="width:60%">
      <div class="card-header text-center">
        <h3>{{ User.name }} {{ User.lastname }}</h3>
      </div>
      <div class="card-body text-center mt-2 mb-2">
        <img [src]="User.photo" onerror="this.src='../assets/users/blank-profile.png';" class="card-img-top"
          alt="{{ User.name }} {{ User.lastname }} user's photo" style="width: 300px" />
        <div class="m-5" style="display: flex; flex-direction: column; align-items:center;">
          <div class="m-2 row col-sm-12 text-bg-light border rounded-2">
            <h4 class="col-sm-6">Phone number:</h4>
            <p class="col-sm-6">{{ User.telephone }}</p>
          </div>
          <div class="m-2 row col-sm-12 text-bg-light border rounded-2">
            <h4 class="col-sm-6">Email:</h4>
            <p class="col-sm-6">{{ User.email }}</p>
          </div>
          <div class="m-2 row col-sm-12 text-bg-light border rounded-2">
            <h4 class="col-sm-6">Address:</h4>
            <p class="col-sm-6">{{ User.address }}</p>
          </div>
          <div class="m-2 row col-sm-12 text-bg-light border rounded-2">
            <h4 class="col-sm-6">Postal Code:</h4>
            <p class="col-sm-6">{{ User.postalCode }}</p>
          </div>
        </div>
        <div class="row my-5">
          <h6 class="text-start text-white-50">Date of last visit: {{lastVisit}} </h6>
        </div>
        <div class="d-grid gap-2 col-8 mx-auto my-3">
          <button class="btn btn-danger" routerLink="/welcome" routerLinkActive="active" (click)="SignOut()">
            Sign out
          </button>
        </div>
      </div>
    </div>
  </div>

</div>