<div class="offcanvas offcanvas-end text-bg-dark bg-gradient" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="text-end  mt-3 mx-3">
        <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-header">
        <h3 id="offcanvasRightLabel" class="text-success text-center mx-5 px-5">Welcome back! <br> Let's login</h3>
    </div>
    <div class="offcanvas-body">
        <div *ngIf="showErrorAlert" class="alert alert-danger alert-dismissible" role="alert">
            <div class="text-danger fw-bold fst-italic text-center">Invalid email or password!<br>Please try again</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                (click)="closeErrorAlert()"></button>
        </div>
        <form (submit)="onSubmit()" [formGroup]="loginForm">
            <div class="form-group">
                <label class="mb-2" for="email">Email:</label>
                <input type="text" id="email" name="email" class="form-control" formControlName="email"
                    placeholder="mail@mail.com" aria-label="email" autocomplete="email">
                <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
                    <span class="text-danger fw-bold fst-italic">Email is required.</span>
                </div>
                <div *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">
                    <span class="text-danger fw-bold fst-italic">Invalid email format.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="my-2" for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" formControlName="password"
                    placeholder="****" autocomplete="current-password">
                <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                    <span class="text-danger fw-bold fst-italic">Password is required.</span>
                </div>
                <div *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched">
                    <span class="text-danger fw-bold fst-italic">Password must be at least {{
                        loginForm.get('password')?.errors?.['minlength'].requiredLength }} characters.</span>
                </div>
                <div *ngIf="loginForm.get('password')?.hasError('maxlength') && loginForm.get('password')?.touched">
                    <span class="text-danger fw-bold fst-italic">Password must be max {{
                        loginForm.get('password')?.errors?.['maxlength'].requiredLength }} characters.</span>
                </div>
            </div>
            <button type="submit" class="btn btn-success col-12 text-center mt-5 mb-2" data-bs-dismiss="offcanvas" aria-label="Close" [disabled]="!loginForm.valid">
                Time to order
            </button>
        </form>
        <div class="mt-5 text-center">
            <p>Don't have an account?</p>
            <button class="btn btn-sm btn-outline-success" routerLink="sign-up" routerLinkActive="active" data-bs-dismiss="offcanvas" aria-label="Close">Sign up here</button>

        </div>
    </div>
</div>