<div class="fixed-div">
    <nav id="navbar-example2" class="navbar navbar-light bg-light px-3 my-2 fw-bold rounded-3" style="width:70%">
        <ul class="nav nav-pills ">
            @for(categoryGroup of groupedProducts;track $index;let id1=$index;){
            <li class="nav-item">
                <!-- [href]="'#scrollspyHeading'+categoryGroup.category" (click)="scrollToCategory(categoryGroup)" -->
                <a class="nav-link text-success"
                    [href]="currentUrl+'#scrollspyHeading'+(id1+1)">{{categoryGroup.category}}</a>
            </li>
            }
        </ul>
    </nav>
    <!-- <div id="list-example" class="list-group bg-light  my-2">
        @for(categoryGroup of groupedProducts;track $index;let id1=$index;){
        <a class="list-group-item list-group-item-action" [href]="currentUrl+'#scrollspyHeading'+(id1+1)">{{categoryGroup.category}}</a>
        }
    </div> -->
</div>
<div class="text-success text-center ms-5">
    <!-- <svg class="bi" width="24" height="24" fill="currentColor"><use xlink:href="#funnel-fill"/></svg> -->
    <i class="bi bi-funnel-fill fs-5 mx-2"></i>
    <button class="btn btn-sm btn-outline-success m-1" [class.active]="buttonHighPrice"
        (click)="sortStoresByPriceDescending()">Price <i class="bi bi-arrow-down fs-6"></i></button>
    <button class="btn btn-sm btn-outline-success m-1" [class.active]="buttonLowPrice"
        (click)="sortStoresByPriceAscending()">Price <i class="bi bi-arrow-up fs-6"></i></button>
    <button class="btn btn-sm btn-outline-success m-1" [class.active]="buttonAZClicked"
        (click)="sortStoresAlphabetically()"><i class="bi bi-sort-alpha-down fs-6"></i></button>
    <button class="btn btn-sm btn-outline-success m-1" [class.active]="buttonZAClicked" (click)="sortStoresZtoA()"><i
            class="bi bi-sort-alpha-down-alt fs-6"></i></button>
</div>
<div class="mx-5">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="500" class="scrollspy-example"
        tabindex="0">
        @for (categoryGroup of groupedProducts; track $index;let id2=$index;){
        <!-- @for (item of productsList; track $index){ -->
        <h3 class="text-success my-4">{{ categoryGroup.category }}</h3>
        <div *ngFor="let item of categoryGroup.products" [id]="'scrollspyHeading'+(id2+1)">
            <div class="card mb-3" style="max-width: 650px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div *ngFor="let photo of productPhotos">
                            <div *ngIf="photo.category==item.category">
                                <img [src]="photo.background_image" class="card-img-top"
                                    alt="{{photo.category}} product photo">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-success fs-3">{{item.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted"> {{categoryGroup.category}}</h6>
                            <span
                                class="card-text border border-2 border-secondary rounded rounded-3 bg-secondary text-white p-1">
                                {{item.price| number:'1.2-2' }} &euro;</span>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3 mt-n2">
                                <button class="btn btn-success px-auto" (click)="addToCart(item)"><i
                                        class="bi bi-plus-lg"></i></button>
                                <!-- [attr.data-bs-toggle]="cartOpen ?  '':'offcanvas' "
                                [attr.data-bs-target]="cartOpen ? '':'#cart'  "
                                [attr.aria-controls]="cartOpen ? '' :'cart'  "   -->
                                <!-- data-bs-toggle="offcanvas" data-bs-target="#cart" aria-controls="cart" -->
                                <app-cart [storeName]="storeName" />
                            </div>
                            <p class="card-text fw-light fst-italic">A delicious <span
                                    class="text-lowercase text-success">{{categoryGroup.category}}</span> named <span
                                    class="text-lowercase text-success">{{item.name}}</span> at only {{item.price|
                                number:'1.2-2' }} &euro;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>